<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode | default "en" }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{/* Check if coming soon mode is enabled */}}
  {{ if site.Params.coming_soon }}
    {{/* Render only the coming soon page */}}
    {{ partial "coming-soon.html" . }}
  {{ else }}
    {{/* Render full site */}}
    {{ partial "header.html" . }}

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
  {{ end }}
</body>
</html>
